<form action = "/editor" method="POST">
<p>Tile</p>
<input  type="text" required >
<textarea rows="4" cols="50" maxlength="750">
	Start post here
</textarea>
<button type="submit" class="btn btn-success" id = "success" >Submit</button>
</form>